html { /*hide scroll wheel*/
    overflow: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    margin: 0 auto;
    font-family: Arial;
    background-color: #655;
    height: 100vh;
    font-family: 'Comfortaa', sans-serif;
    color: white;
}

/*------------------------Main Head----------------------*/
.cover {
    position: relative;
    color: #FFF;
    font-size: 5vh;
    text-shadow: 0 0 20px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#title { /*Just makes the title pop in a little fancier*/
    transition: all 2s ease;
}

.cover > img {
    box-shadow: 0 0 20px #000;
    border-radius: 50px;
    margin-right: 2vw;
    width: 12vh;
    height: 12vh;
}

/*-------------------------Nav Bar-----------------------*/
.nav {
    position: fixed; /*navigation always at top of screen*/
    top: 0;
    width: 100%;
    background: #B7261B;
    z-index: 100; /*keep it on top of everything else*/
    height: 10vh; /*scale with window size*/
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #F27066;
}

@media only screen and (max-height: 600px) { /*keep nav bar from shrinking too much*/
    .nav {
        height: 60px;
    }
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 600px) { /*resize text in nav bar if screen is too small*/
    .nav-items {
        font-size: 0.7em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
    padding-left: 100px;
}

li {
    padding: 20px;
    transition: all 0.3s ease;
}

nav li:hover { /*increase text size when hovering*/
    font-size: 120%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.signIn {
    padding: 10px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 10px;
}

/*-------------------------Cover-------------------------*/

/*--------------------------Form-------------------------*/

.mainBlock {
    padding: 100px;
    padding-top: 100px;
}

.submitButton {
    left: 50%;
    border-color: transparent;
    background-color: #C7675F;
    padding: 30px;
    cursor:pointer;
    color:#FFF;
    font-size:1.5em;
    text-align: center;
    border-radius: 20px;
    transition: all 1s ease;
    --notchSize: 20px;
    font-family: 'Comfortaa', sans-serif;
  /*cut the edges slightly*/
    clip-path: 
        polygon(
            0% var(--notchSize), 
            var(--notchSize) 0%, 
            calc(100% - var(--notchSize)) 0%, 
            1000% var(--notchSize), 
            100% calc(100% - var(--notchSize)), 
            calc(100% - var(--notchSize)) 100%, 
            var(--notchSize) 100%, 
            -1000% calc(100% - var(--notchSize))
        );
}

.formBlock {
    left: 50%;
    border-color: transparent;
/*    background-image: linear-gradient(rgba(199, 103, 95, .4), rgba(50, 20, 20, 1), rgba(50, 20, 20, 1));*/
    padding: 30px;
    color:#FFF;
    font-size:1.5em;
    text-align: center;
    border-radius: 20px;
    transition: all 1s ease;
}

.submitButton:hover {
    transform: scale(1.15);
    background-color: #BE9F9D;
}

.formElements {
    display: grid;
    grid-auto-columns: 400px;
    justify-content: center;
}

/*-------------------------Stars-------------------------*/

@import compass


// n is number of stars required
@function multiple-box-shadow ($n) 
  $value: '#{random(2000)}px #{random(2000)}px #FFF'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

  @return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)

html
  height: 100%
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
  overflow: hidden
    
#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation			: animStar 50s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small
    
#stars2
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-medium
  animation			: animStar 100s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium
    
#stars3
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-big
  animation			: animStar 150s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-big

#title
  position: absolute
  top: 50%
  left: 0
  right: 0
  
  color: #FFF
  text-align: center
  font-family: 'lato',sans-serif
  font-weight: 300
  font-size: 50px
  letter-spacing: 10px
  
  margin-top: -60px
  padding-left: 10px
  
  span
    background: -webkit-linear-gradient(white, #38495a)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    
@keyframes animStar
  from	
    transform: translateY(0px)
  to		
    transform: translateY(-2000px)
    

/*-------------------------Footer------------------------*/
footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50%;
}