$s1:"";
$s2:"";
$s3:"";
@for $i from 1 through 20 {
    $s1: $s1 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s2: $s2 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #ffcbf2;
    $s3: $s3 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + rgb(196, 221, 255);
    @if $i < 20 {
        $s1: $s1 + ",";
        $s2: $s2 + ",";
        $s3: $s3 + ",";
    }
}
.snow {
    opacity: 0.5;
    position: absolute;
    top:100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.layer1 {
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: #{$s1};
    filter: blur(1px);
    animation-duration: 24s;
}
.layer1.a {
    animation-delay: -6s;
}
.layer2 {
    width: 1.2rem;
    height: 1.2rem;
    box-shadow: #{$s2};
    filter: blur(2px);
    animation-duration: 32s;
}
.layer2.a {
    animation-delay: -8s;
}
.layer3 {
    width: 0.8rem;
    height: 0.8rem;
    box-shadow: #{$s3};
    filter: blur(4px);
    animation-duration: 40s;
}
.layer3.a {
    animation-delay: -10s;
}
@keyframes fall {
    100% {transform: translateY(-200vh); }
} 